<!DOCTYPE html>
<html lang="en">

<head>
<title>Homepage</title>


    <!-- Bootstrap Core CSS -->
     <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
	 <link href="../static/css/myhomepage.css" rel="stylesheet">
	 <link href="../static/css/cover.css" rel="stylesheet">
	 <script src="../static/js/jquery-1.11.2.js"></script>
    
	<!-- jQuery -->
    <script src="../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>

</head>

<body>

<div class="site-wrapper" >
	<div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            
            <li role="presentation"><a href="/Wishlist">Wish list</a></li>
            
            <li role="presentation"><a href="/logout">logout</a>
            </li>
          </ul>
        </nav>
        <h3 class="text-muted" >My cart</h3>
      </div>
	</div>
	
	</br>
    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-md-1"></div>
            
          

            <div class="col-md-9">

                <div class="row carousel-holder">

                    <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
								<li data-target="#carousel-example-generic" data-slide-to="3"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img class="slide-image" src="../static/img1.jpg" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="../static/img2.jpg" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="../static/img3.jpg" alt="">
                                </div>
								<div class="item">
                                    <img class="slide-image" src="../static/img4.jpg" alt="">
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>

                </div>

                <div class="row">

                    

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="../static/ipho.png" alt="">
                            <div class="caption">
                                <h3 class="pull-right">$64.99</h3>
                                <h3>Iphone
                                </h3>
                                <p>Iphone is the best smartphone You can come across.</p>
                            </div>
							</br>
							</br>
                        </div>
						<form action="/addWish1"  method="post">
							<div class="row" background-color="black">
								<input id="frstbtn" name="frstbtn" class="btn btn-lg btn-default" type="submit" value="Add to kart" />
							</div>
						</form>
                    </div>
					
					
					
					

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="../static/mac.jpg" alt="">
                            <div class="caption">
                                <h3 class="pull-right">$250.99</h3>
                                <h3>Laptop
                                </h3>
                                <p>Mackbook comes with a 8gb RAM and latest ADM processor.</p>
                            </div> 
							</br>
                        </div>
						<form action="/addWish2" method="post">
								<div class="row" background-color="black">
									<input id="frstbtn" name="frstbtn" class="btn btn-lg btn-default" type="submit" value="Add to kart" />
								</div>
							</form>
                    </div>

					
					
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="../static/keyboard.jpg" alt="">
                            <div class="caption">
                                <h3 class="pull-right">$40.99</h3>
                                <h3>Keyboard
                                </h3>
                                <p>Buy this product to have the smoothest experience.</p>
                            </div>
                            </br>
                        </div>
						<form action="/addWish3" method="post">
								<div class="row" background-color="black">
									<input id="frstbtn" name="frstbtn" class="btn btn-lg btn-default" type="submit" value="Add to kart" />
								</div>
							</form>
                    </div>
					</br>
					
					
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="../static/mouse.jpg" alt="">
                            <div class="caption">
                                <h3 class="pull-right">$10.99</h3>
                                <h3>Mouse
                                </h3>
								
								</br>
							<p>This wireless mouse gives you heavenly like pleasure</p>
                            </div>
							
							
							</br>
							</br>
							</br>
							
							</br>
                        </div>
						<form action="/addWish4" method="post">
							<div class="row" background-color="black">
								<input id="frstbtn" name="frstbtn" class="btn btn-lg btn-default" type="submit" value="Add to kart" />
							</div>
						</form>
						
                    </div>
					</br>
					</br>
					
					<div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="../static/i1.jpg" alt="">
                            <div class="caption">
                                <h3 class="pull-right">$ 239.99</h3>
                                <h3>Smart Watch
                                </h3>
                                <p>No need to take your phone out everytime you need.</p>
                            </div>
							</br>
                        </div>
						<form action="/addWish5" method="post">
								<div class="row" background-color="black">
									<input id="frstbtn" name="frstbtn" class="btn btn-lg btn-default" type="submit" value="Add to kart" />
								</div>
							</form>
                    </div>
					
					
					
					
					<div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="../static/desk.jpg" alt="">
                            <div class="caption">
                                <h3 class="pull-right">$949.99</h3>
                                <h3>Apple Desktop
                                </h3>
                                <p>This is the apple desktop.</p>
                            </div>
						
                        </div>
						<form action="/addWish6" method="post">
								<div class="row" background-color="black">
									<input id="frstbtn" name="frstbtn" class="btn btn-lg btn-default" type="submit" value="Add to kart" />
								</div>
							</form>
                    </div>


                </div>

            </div>

        </div>

    </div>
    <!-- /.container -->

    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>&copy; Created by Suraj Kesharwani</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    

</div>	
	
</body>

</html>
