<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My Cart</title>

   
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
	<link href="../static/css/cover.css" rel="stylesheet">
    <script src="../static/js/jquery-1.11.2.js"></script>
    <script>
    $(function(){
        $.ajax({
            url : '/getWish',
            type : 'GET',
            success: function(res){
                var div = $('<div>').attr('class', 'list-group')
							.append($('<a>').attr('class', 'list-group-item active')
								.append($('<h4>').attr('class', 'list-group-item-heading'),
										$('<p>').attr('class', 'list-group-item-text'),
										$('<p1>').attr('class', 'list-group-item-text')));
                                
                
                
                var wishObj = JSON.parse(res);
                var wish = '';
                
                $.each(wishObj,function(index, value){
                    wish = $(div).clone();
                    $(wish).find('h4').text(value.Name);
                    $(wish).find('p').text(value.Price);
					$(wish).find('p1').text(value.Date);
                    $('.jumbotron').append(wish);
                });
            },
            error: function(error){
                console.log(error);
            }
        });
    });
    </script>
	
	
	
<!---	<script>
    $(function() {
        $.ajax({
            url: '/getWish',
            type: 'GET',
            success: function(res) {
                console.log(res);
            },
            error: function(error) {
                console.log(error);
            }
        });
    });
</script>--->
	
    
   
  </head>

  <body>
<div class="site-wrapper">
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
			<li role="presentation"><a href="/store">Go to Store</a></li>
            <li role="presentation" ><a href="/logout">Logout</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">My Cart</h3>
      </div>

      <div class="jumbotron">
        

    



    





                          

      

      <footer class="footer">
      
       
      </footer>
      

    </div>
</div>
  </body>
</html>