<!Doctype html>
<head>

	<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="../static/css/cover.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
    <script src="../static/js/jquery-1.11.2.js"></script>
	<link href="../static/css/login.css" rel="stylesheet">
	<link href="../static/css/myhomepage.css" rel="stylesheet">


</head>

<body>
<h1> Welcome to My Cart</h1>
</br>
</br>
</br>
<p>
You are now Registered with us 
</p>
<p>
Login to continue
</p>
</br>
</br>
</br>
		<div class="inner cover">
			<p class="lead">
              <a href="/Login" class="btn btn-lg btn-default">Login</a>
            </p>
		</div>


</body>